header {
  /* think about which properties you'd want to use to make the header */
  /* border-bottom color should be accent-background */
}

input[type="search"] {
  border-radius: 4px;
  background-color: gray;
  border: gray;
  padding: 2rem;
}

article h1 a {
  /*color should be accent-background */
}
